{% extends "_global/index.html" %}

{% block main %}
<div>
    <h2 class="text-center border-bottom border-1 p-4">{{ category.name|escape}}</h2>
    <ul>
        {% for auction in auctionsInCategory %}
        <li class="auction row mb-3">
            <div class="col-12 col-md-3">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                    <img src="{{ BASE }}assets/uploads/{{ auction.image_path }}" alt="Velika slika - {{ auction.auction_id }}" class="width-100-percent">
                </a>
            </div>

            <div class="col-12 col-md-10">
                <a href="{{ BASE }}auction/{{ auction.auction_id }}">
                    {{ auction.title|escape }}
                </a>

                <div class="row">
                    <span class="col-6 col-md-4"> {{ auction.created_at|escape }} </span>
                    <span class="col-6 col-md-4"> {{ auction.expires_at|escape }} </span>
                    <span class="col-12 col-md-4"> {{ auction.last_offer_price|escape }} EUR</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

<!--    <div class="">-->
        <nav aria-label="Page navigation example" class="width-100-percent d-flex">
            <ul class="pagination mx-auto  justify-content-between">
                <li class="page-item"><a class="page-link first" onclick="first()" href="#">First</a></li>
                <li class="page-item"><a class="page-link prev" onclick="prev()" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">{{ currentPage }}</a></li>
                <li class="page-item"><a class="page-link next" onclick="next()" href="#">Next</a></li>
                <li class="page-item"><a class="page-link last" onclick="last()" href="#">Last({{ totalPages }})</a></li>
            </ul>
<!--            <div class="input-group col-1">-->
                <label for="page-number" class="p-2">Jump to page:</label>
                <input class="" id="page-number" type="number" value="{{ currentPage }}" min="1" max="{{ totalPages }}">
                <button type="button" onclick="jumpToPage()" class="btn btn-primary input-group-append jump fa-solid fa-arrow-right fa-2"></button>
<!--            </div>-->

        </nav>
<!--    </div>-->
</div>


    <script src="{{ BASE }}assets/js/categoryPagination.js" defer></script>
    <script> const CATEGORY = {{ category.category_id }}</script>
    <script> const TOTAL = {{ totalPages }}</script>
    <script> const CURRENT = {{ currentPage }}</script>
{% endblock %}

{% block naslov %}

{{ category.name|escape }}

{% endblock %}