{% extends "_global/index.html" %}

{% block main %}
{% if isAdmin == true %}
<div>
        <label for="table">Choose a table:</label>
        <select id="table">
            <option value="user">User</option>
            <option value="auction">Auction</option>
        </select>

        <label for="time">Choose a table:</label>
        <select id="time">
            <option value="year">Year</option>
            <option value="quarter">Quarter</option>
            <option value="month">Month</option>
            <option value="week">Week</option>
        </select>

        <button class="btn btn-primary" onclick="getByTime()">Make chart</button>

    <div class="mx-auto p-2 chartDiv">
        <canvas id="myChart"></canvas>
    </div>
</div>
{% endif %}
    <p id="message" >{{ message|escape }}</p>

    <script src="{{ BASE }}assets/js/chartData.js" defer></script>
{% endblock %}