{% extends "_global/index.html" %}

{% block main %}
{% if isAdmin == true %}
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/user/page/1">
            User
        </a>
    </div>
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/offer/page/1">
            Offer
        </a>
    </div>
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/auction/page/1">
            Auction
        </a>
    </div>
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/auctionView/page/1">
            Auction View
        </a>
    </div>
{% endif %}
    <p id="message" >{{ message|escape }}</p>
{% endblock %}