{% extends "_global/index.html" %}

{% block main %}
{% if isAdmin == true %}
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/user/page/1/user_id/asc">
            User
        </a>
    </div>
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/offer/page/1/offer_id/asc">
            Offer
        </a>
    </div>
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/auction/page/1/auction_id/asc">
            Auction
        </a>
    </div>
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/auctionView/page/1/auction_view_id/asc">
            Auction View
        </a>
    </div>
    <div>
        <a href="{{ BASE }}user/profile/analytics/tables/category/page/1/category_id/asc">
            Category
        </a>
    </div>
{% endif %}
    <p id="message" >{{ message|escape }}</p>
{% endblock %}