.social-icons {
    margin-bottom: 10px;
}

.social-icons a i.fa-brands {
    display: inline-block;
    color: #00c4de;
    font-size: 16pt;
    margin: 5px;
}

.category {
    padding: 30px 0px;
}

.width-100-percent { width: 100%; }

.chartDiv {
    height: 60vh;
    width: 60vw;
}

#main {
    min-height: calc(100vh - 240px);
}
#hello {

}
#page-number {
    width: 50px;
    height: 40px;
}

.jump {
    height: 40px;
    width: 40px;
    /*font-size: 16pt;*/
}

table {
    font-family: arial, sans-serif;
    font-size: smaller;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*table, td, th {*/
/*    border: 1px solid black;*/
/*}*/
